[submodule "variant_store/opt/variant_store"]
	path = variant_store/opt/variant_store
	url = git@github.com:Intel-HSS/store.git
[submodule "tile_db/opt/tile_db"]
	path = tile_db/opt/tile_db
	url = git@github.com:Intel-HSS/TileDB.git
